{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns":"usage",
            "corejs":3,
            "targets":{
                "browsers":">1%"
                // "esmodules": true
            }
            // "modules":"cjs"
        }],
        "@babel/preset-react"
    ]
}